---
layout: default
permalink: /convenca-sua-lideranca/
---
<header class="showcase-boss">
  <meta http-equiv="refresh" content="0; url=https://www.productcamp.com.br">
  <div class="container">
    <div class="showcase-boss-content">
      <div class="row">
        <div class="col-12">
          <div class="showcase-boss-group">
            <h1>Convença sua liderança <small>Convença sua liderança a enviar você para o Pcamp 2019!</small></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="content-boss">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        a que restam apenas 15 ingressos e continue o ciclo até que seja bem-sucedido!</p>
      </div>
    </div>
  </div>
</section>

{% include components/sponsors.html %}
{% include components/know-first.html %}
