---
layout: default
permalink: /convenca-sua-lideranca/
---
<header class="showcase-boss">
  <div class="container">
    <div class="showcase-boss-content">
      <div class="row">
        <div class="col-12">
          <div class="showcase-boss-group">
            <h1>Convença sua liderança <small>Convença sua liderança a enviar você para o Pcamp 2019!</small></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="content-boss">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p>Para maximizar os resultados, siga este procedimento renomado e testado por vários profissionais:</p>
        <h2>1. Plante a semente no seu chefe antecipadamente.</h2>
        <p>Antes de mencionar o Pcamp ao seu superior, envie um e-mail com artigos sobre inovação em gerenciamento de produtos e alguns cases sobre seus concorrentes mostrando sobre o avanço que eles tem conseguido ao investir em produto, desenvolvimento ágil de produtos e experiência do usuário. Você pode olhar no blog do <a href="http://conteudo.produto.io" target="_blank">blog do Produto.io</a>, <a href="https://cursospm3.com.br/blog" target="_blank">blog da PM3</a> ou até mesmo no <a href="https://www.slideshare.net/productcampsp" target="_blank">Slideshare no Product Camp</a></p>
        <h2>2. Faça seu primeiro movimento.</h2>
        <p>Certifique-se de que seu chefe esteja de bom humor (as sextas-feiras costumam funcionar bem) e certifique-se de que você concluiu suas tarefas antes do prazo. Mencione que você acabou de encontrar algo que fará avançar a maneira como sua equipe trabalha em novos produtos / entregando mais valor / ganhando espaço dos concorrentes.</p>
        <p>Em seguida, em algum momento pessoalmente, comente com o seu chefe sobre um evento educacional diferente de tudo que você viu até hoje. Não só é barato a beça, mas também possui profissionais de empresas de alto calibre (Nubank, OLX, Gympass, Neon, QuintoAndar, GetNinjas, Resultados Digitais, Creditas e várias outras empresas). <a href="https://productcamp.com.br/2018" target="_blank">Veja como foi a programação de 2018</a>,  Termine com a promessa de enviar um e-mail a ele com mais informações.</p>
        <h2>3. Envie um e-mail!</h2>
        <div class="text-to-boss">
          <p>Oi chefe! 🙂</p>
          <p>Aqui está o link para a conferência que mencionei: ProductCamp.com.br</p>
          <p>Acho que a empresa inteira irá se beneficiar se eu participar do evento por causa das palestras (insira algumas palestras relevantes para o momento da sua empresa/produto). Eu farei muitas anotações e prometerei recapitular tudo na reunião com a equipe para que outros possam aprender comigo.</p>

          <p>Ah, e por que você não vai comigo? <br>Eles também têm estes assuntos sobre liderança e workshops <insira o link de um workshop e palestra apropriado ao seu chefe>.</p>

          <p>Acesse o site para ver o resumo do evento. Tem também <a href="https://www.youtube.com/watch?v=3dVXEpjr430">esse vídeo</a> com depoimento de alguns palestrantes conhecidos do mercado.</p>

          <p>Precisamos de uma nota fiscal para seguir com isso? Você pode me avisar até quinta-feira?</p>

          <p>Abraços,<br>seu nome</p>
        </div>
        <p>Deixe sua chefe processar isso no fim de semana. Depois do almoço na segunda-feira, pergunte a ela se ela teve a chance de ver seu e-mail. O mais provável é que ele ainda não tenha visto todos os seus e-mails. Tudo bem, mostre sua compreensão e mencione que os ingressos estão sendo vendidos a um ritmo acelerado.</p>

        <p>Se você ainda estiver no limbo até o final da semana, escreva para contato@productcamp.com.br e pergunte quantos ingressos ainda tem disponível (pergunte exatamente assim, é o nosso combinado!).</p>

        <p>Vamos responder “Apenas 50 ingressos sobrando, então é melhor se apressar”. Você pode querer transmitir essa “escassez urgente” para acelerar a decisão do seu chefe.</p>

        <p>Se ainda assim você não tiver uma decisão dentro dos próximos dois dias, volte e diga que restam apenas 15 ingressos e continue o ciclo até que seja bem-sucedido!</p>
      </div>
    </div>
  </div>
</section>

{% include components/sponsors.html %}
{% include components/know-first.html %}
