---
layout: workshop
permalink: /workshops/
---
<header class="showcase-boss">
  <div class="container">
    <div class="showcase-boss-content">
      <div class="row">
        <div class="col-12">
          <div class="showcase-boss-group">
            <h1>Workshops</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="workshop">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="description-workshop">
          <p>Neste ano estamos introduzindo o <strong>Product Camp Workshops</strong>! Agora, além de curtir o evento, você poderá aprofundar no assunto que quiser através de workshops que ocorrem antes ou após o evento. Os workshops estão disponiveis de maneira avulsa ou com desconto para quem já tiver ingresso do evento.</p>
        </div>
      </div>
    </div>
    <div class="row" id="workshops">
    </div>
  </div>
</section>

{% include components/sponsors.html %}
{% include components/know-first.html %}
