<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  <title>Product Camp 2019 - A maior conferência de Product Management da América Latina</title>
  <meta name="description" content="A maior conferência de Product Management da América Latina. Conteúdo alto nível e qualificado.">

  <link rel="stylesheet" href="{{ "{{base}}/css/main-v7.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Product Camp - A maior conferência de Product Management da América Latina">
  <meta property="og:site_name" content="Product Camp - A maior conferência de Product Management da América Latina">
  <meta property="og:description" content="A maior conferência de Product Management da América Latina. Conteúdo alto nível e qualificado.">
  <meta property="og:url" content="https://www.productcamp.com.br/">
  <meta property="og:image" content="/img/og.png">
  <meta property="og:locale" content="pt_BR">

  <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/cebf239a-42eb-4866-aab6-6a050f749d4b-loader.js" ></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TVGWB69');</script>
  <!-- End Google Tag Manager -->

</head>
