@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather:900i');

@font-face {
    font-family: 'foxlite_scriptregular';
    src: url('../fonts/foxlitescript-regular-webfont.woff2') format('woff2'),
         url('../fonts/foxlitescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin pddSection() {
  padding: 120px 0;
  @include media-breakpoint-down(md) {
    padding: 90px 0;
  }
}
@mixin h2small() {
  h2{
    text-align: center;
    font-family: "foxlite_scriptregular";
    font-size: $vunity * 12;
    line-height: $vunity * 7;
    margin: 0 auto;
    margin-bottom: $vunity * 5;
    @include media-breakpoint-down(md) {
      font-size: $vunity * 8;
      line-height: $vunity * 5;
    }
    small{
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      display: block;
      line-height: $vunity * 4;
      margin: 0 auto;
      margin-top: $vunity * 3;
      @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: $vunity * 4;
      }
      span{
        font-weight: bold;
      }
    }
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:180%;
    font-family: 'Open Sans', sans-serif;
    font-size: $vunity * 2;
    overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1, h2, h3, h4, h5, h6{
  color: #190D21;
}


* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.btn{
  font-size: $vunity * 2;
  font-weight: bold;
  text-transform: uppercase;
  padding: $vunity * 2 $vunity * 4;
  white-space: normal !important;
  word-wrap: break-word;
}

.nav-pcamp{
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index: 1000;
  transition: all 0.2s;
  .nav-pcamp-content{
    display: flex;
    justify-content: space-between;
    .nav-left{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      .a-brand{
        figure{
          max-width: 260px;
          display: flex;
          svg{
            .productcamp{
              fill: #fff;
              transition: all 0.2s;
            }
          }
        }
      }
    }
    .nav-right{
      .nav-link{
        color: #fff;
        font-weight: 600;
        padding: 0.5rem 0.3rem;
      }
    }
    @include media-breakpoint-down(md) {
      .itens-menu{
        display: none;
        &.opened{
          display: block;
        }
        ul{
          display: block;
          li{
            display: block;
          }
        }
      }
    }
  }
  &.open{
    background: #fff;
    padding-bottom: 20px;
  }
  &.scrolling{
    background: #fff;
    transition: all 0.2s;
    border-bottom: 1px solid $gray-300;
    .nav-pcamp-content{
      .nav-left{
        .a-brand{
          figure{
            max-width: 260px;
            display: flex;
            svg{
              .productcamp{
                fill: #000;
                transition: all 0.2s;
              }
            }
          }
        }
      }
      .nav-right{
        .nav-link{
          color: $secondary;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding: 5px 0;
    .nav-pcamp-content{
      .nav-left{
        .a-brand{
          figure{
            svg{
              .productcamp, .tag{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .itens-menu-mobile{
    text-align: center;
    display: none;
    .nav-link{
      color: $purple;
    }
    &.open{
      display: block;
    }
  }
}

.showcase{
  width: 100%;
  min-height: 100vh;
  // background: $secondary;
  background: rgb(65,49,82);
  background: linear-gradient(180deg, rgba(65,49,82,1) 0%, rgba(25,13,33,1) 100%);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/component-01.svg");
    background-size: cover;
    opacity: 0.7;
    @include media-breakpoint-down(sm) {
      background-image: url("../img/component-02.svg");
      background-position: center;
      bottom: -50%;
    }
  }
  .showcase-content{
    @include pddSection;
    .showcase-group{
      display: flex;
      align-items: left;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      height: 100%;
      h1{
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-size: $vunity * 6;
        line-height: $vunity * 8;
        max-width: 500px;
        span{
          font-weight: bold;
        }
        small{
          font-family: 'Open Sans', sans-serif;
          font-size: 24px;
          display: block;
          line-height: $vunity * 5;
          margin-top: $vunity * 2;
          max-width: 460px;
        }
      }
      .date-pcamp{
        max-width: 310px;
        width: 100%;
        margin-top: $vunity * 2;
      }
      @include media-breakpoint-down(md) {
        h1{
          font-size: $vunity * 4;
          line-height: $vunity * 6;
        }
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        align-items: center;
        h1{
          font-size: $vunity * 4;
          line-height: $vunity * 6;
        }
        .date-pcamp{
          margin-bottom: $vunity * 4;
        }
      }
    }
  }
}

.form-news{
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  h2{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: $vunity * 2;
  }
  .btn{
    width: 100%;
  }
}

.form-control{
  border: 1px solid $gray-300;
  background: $gray-200;
  font-size: $vunity * 2;
  padding: $vunity * 2;
}

.highlights{
  background: #F5F5F5;
  padding: $vunity * 7 0;
  ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    li{
      h2{
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: $vunity;
      }
      &.item-highlight{
        position: relative;
        padding-left: 65px;
        &:before{
          position: absolute;
          content: "";
          width: 50px;
          height: 50px;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right;
        }
        &.localizacao{
          &:before{
            background-image: url("../img/icons/localizacao.svg");
          }
        }
        &.dataehora{
          &:before{
            background-image: url("../img/icons/dataehora.svg");
          }
        }
        &.palestrantes{
          &:before{
            background-image: url("../img/icons/palestrantes.svg");
          }
        }
        &.capacidade{
          &:before{
            background-image: url("../img/icons/capacidade.svg");
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 50%;
        margin-right: 0 !important;
        margin: $vunity * 4 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    ul{
      display: flex;
      flex-direction: column;
      li{
        width: 100%;
        margin-right: 0 !important;
        &.item-highlight{
          padding-left: 0px;
          padding-top: 70px;
          text-align: center;
          &:before{
            background-position: center;
            left: calc(50% - 25px);
          }
        }
      }
    }
  }
}

.last-editions{
  @include pddSection;
  background: #2B1E39;
  text-align: center;
  .last-editions-content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    flex-direction: column;
    h2{
      width: 185px;
      height: 130px;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      color: transparent;
      background-image: url('../img/ultimas-edicoes.svg');
      margin: 0 auto;
    }
    a{
      margin-top: $vunity * 3;
    }
  }
  .list-photos{
    position: relative;
    &:before{
      position: absolute;
      content: "";
    }
    img{
      margin-bottom: $vunity * 4;
    }
  }
  @include media-breakpoint-down(md) {
    .last-editions-content{
      padding-bottom: $vunity * 6;
    }
  }
}


.informations{
  background: $primary;
  text-align: center;
  position: relative;
  padding: 0;
  .informations-content{
    height: 524px;
    display: flex;
    align-items:center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    h2{
      font-family: 'foxlite_scriptregular';
      font-size: $vunity * 10;
      line-height: $vunity * 5;
      text-align: center;
      margin-bottom: $vunity * 6;
    }
    p{
      margin: 0 auto;
      color: #fff;
    }
    .mail-contact{
      color: #fff;
    }
  }
  .map{
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    .gmap-container{
      overflow: hidden;
      position: relative;
      height: 524px;
      width: 100%;
      #gmap_canvas{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(229, 227, 223);
      }
    }
  }
  @include media-breakpoint-down(md) {
    .informations-content{
      height: 380px;
      margin-bottom: 300px;
    }
    .address{
      height: 360px;
      display: flex;
      align-items:center;
      margin-bottom: 460px;
    }
    .map{
      width: 100%;
      top: 380px;
      .gmap-container{
        overflow: hidden;
        position: relative;
        height: 300px;
      }
    }
  }
}

.partners{
  @include pddSection;
  @include h2small;
  .tier{
    h3{
      text-align: center;
      font-size: $vunity * 3;
      font-weight: 600;
      margin-top: $vunity * 5;
      margin-bottom: $vunity * 2;
    }
    a{
      figure{
        img{
          width: 100%;
          height: 370px;
          position: relative;
          overflow: hidden;
          background-color: #f05a27;
          background-repeat: no-repeat;
          background-position: top;
          background-size: contain;
          margin-bottom: 0;
          border-radius: 4px;
        }
      }
    }
    .container-partner{
      border: 2px solid #ecf2f3;
      padding: 16px;
      display: flex;
      align-items: center;
      align-content: center;
      margin-bottom: 24px;
      transition: all 0.2s;
      img{
        max-height: 120px;
        margin: 0 auto;
        text-align: center;
      }
      &:hover{
        transform: scale(1.1);
        transition: all 0.2s;
      }
    }
    &.tier01{
      .container-partner{
        height: 200px;
        img{
          max-width: 230px;
        }
      }
    }
    &.tier02{
      .container-partner{
        height: 150px;
        img{
          max-width: 140px;
          width:  100%;
        }
        @include media-breakpoint-down(sm) {
          height: 110px;
        }
      }
    }
  }
}

.menu-mobile {
  text-align: right;
  display: inline-block;
  float: right;
  // margin-top: 15px;
  .hamburger {
    display:inline-block;
    position:relative;
    height:47px;
    width:50px;
    cursor:pointer;
    .container-hambuger {
      top:15px;
      position:absolute;
      left:15px
    }
    span {
      width:20px;
      height:3px;
      background:$primary;
      display:block;
      border-radius:2px;
      position:absolute;
      transition:all 0.2s
    }

    &.open span {
      background:$primary;
    }

    span:nth-child(1) {
      top:0px
    }
    span:nth-child(2) {
      top:7px
    }
    span:nth-child(3) {
      top:14px
    }
    span:nth-child(4) {
      top:7px
    }
    &.open span {
      transition:all 0.2s
    }
    &.open span:nth-child(1) {
      top:7px;
      opacity:0
    }
    &.open span:nth-child(2) {
      transform:rotate(45deg)
    }
    &.open span:nth-child(3) {
      top:7px;
      opacity:0
    }
    &.open span:nth-child(4) {
      transform:rotate(-45deg)
    }
  }
}

.navbar.scrolling .menu-mobile .hamburger span {
  background:$primary;
}

.bold{
  font-weight: 700;
}

.showcase-boss{
  width: 100%;
  min-height: 60vh;
  background: $secondary;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/component-01.svg");
    background-size: cover;
    opacity: 0.7;
  }
  .showcase-boss-content{
    @include pddSection;
    .showcase-boss-group{
      display: flex;
      align-items: left;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      height: 100%;
      h1{
        text-align: center;
        font-family: "foxlite_scriptregular";
        color: #fff;
        font-size: $vunity * 20;
        line-height: $vunity * 18;
        max-width: 700px;
        margin: 0 auto;
        span{
          color: $primary;
        }
        small{
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          display: block;
          line-height: $vunity * 4;
          margin-top: $vunity * 2;
          max-width: 700px;
          margin: 0 auto;
        }
      }
      .date-pcamp{
        max-width: 310px;
        width: 100%;
        margin-top: $vunity * 2;
      }
      @include media-breakpoint-down(md) {
        h1{
          font-size: $vunity * 10;
          line-height: $vunity * 8;
        }
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        align-items: center;
        h1{
          font-size: $vunity * 8;
          line-height: $vunity * 6;
        }
        .date-pcamp{
          margin-bottom: $vunity * 4;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    min-height: 100%;
  }
}

.content-boss{
  @include pddSection;
  p{
    font-size: 16px;
    line-height: $vunity * 5;
    margin-bottom: $vunity * 3;
  }
  h2{
    font-size: 22px;
    line-height: $vunity * 5;
    font-weight: 700;
    margin-top: $vunity * 6;
    margin-bottom: $vunity * 3;
  }
  .text-to-boss{
    padding: 20px;
    background: $gray-100;
    border: 1px solid $gray-300;
    margin-bottom: $vunity * 3;
  }
}

.know-first{
  @include pddSection;
  background: #2B1E39;
  h2{
    font-family: "foxlite_scriptregular";
    color: #fff;
    text-align: center;
    font-size: $vunity * 10;
    line-height: $vunity * 9;
    margin-bottom: $vunity * 6;
    small{
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      display: block;
      line-height: $vunity * 4;
      margin-top: $vunity * 2;
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .form-group{
    label{
      color: #fff;
    }
  }
  .btn{
    width: 100%;
  }
}

.concept{
  padding: 0 0 140px 0;
  h2{
    font-family: "foxlite_scriptregular";
    color: #fff;
    font-size: $vunity * 14;
    line-height: $vunity * 12;
    max-width: 500px;
    span{
      color: $primary;
    }
  }
  h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }
  p{
    font-size: 16px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    h2{
      font-size: $vunity * 10;
      line-height: $vunity * 8;
      text-align: center;
      margin-bottom: $vunity * 4;
      max-width: 100%;
    }
    h3{
      text-align: center;
    }
    p{
      text-align: center;
    }
  }
}

.keynotes{
  @include pddSection;
  background: #190D21;
  a{
    text-decoration: none;
  }
  h2{
    font-family: 'foxlite_scriptregular';
    font-size: $vunity * 10;
    line-height: $vunity * 5;
    text-align: center;
    margin-bottom: $vunity * 6;
    color: #fff;
  }
  .keynote{
    .keynote-container{
      transition: all 0.2s;
      img{
        border-radius: 4px;
      }
      .keynote-info{
        position: relative;
        // top: -20px;
        padding: 0 10px 10px 10px;
        h3{
          margin-top: $vunity;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
        p{
          font-size: 14px;
          color: #fff;
        }
        figure{
          max-width: 150px;
          margin-top: 8px;
          img{
            max-width: 100%;
            max-height: 40px;
          }
        }
      }
      &:hover{
        transform: scale(1.08);
        transition: all 0.2s;
      }
    }
  }
}

.speakers{
  @include pddSection;
  background: #fff;
  &:nth-child(even){
    background: $gray-200;
  }
  a{
    text-decoration: none;
  }
  h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: $vunity * 5;
    line-height: $vunity * 5;
    text-align: center;
    margin-bottom: $vunity * 6;
    color: $secondary;
    span{
      display: block;
      font-size: $vunity * 3;
      color: #a09ea2;
    }
  }
  .all-speakers{
    .speaker-container{
      max-width: 190px;
      margin: 0 auto;
      transition: all 0.2s;
      img{
        border-radius: 4px;
      }
      .speaker-info{
        margin-bottom: $vunity * 4;
        h3{
          font-size: 15px;
          font-weight: bold;
        }
        p{
          line-height: 18px;
          font-size: 12px;
          color: #585858;
          margin-top: 2px;
        }
        figure{
          max-width: 120px;
          margin-top: 8px;
          img{
            max-width: 100%;
            max-height: 30px;
          }
        }
      }
      &:hover{
        transform: scale(1.08);
        transition: all 0.2s;
      }
    }
  }
}

.btn-outline-primary{
  &.white{
    color: #fff;
  }
}

.tickets{
  @include pddSection;
  @include h2small;
  background: $gray-200;
}

.loader{
  background: #16051b;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  img{
    max-width: 200px;
  }
}

.about{
  @include pddSection;
  h2{
    font-family: 'foxlite_scriptregular';
    font-size: 140px;
    line-height: 80px;
    max-width: 500px;
  }
  .video-container{
    position: relative;
    width: 100%;
    .link-video{
      height: 430px;
      width: 100%;
      background-image: url("../img/bg-video.jpg");
      background-size: cover;
      background-position: center;
      display: block;
      color: rgba(255, 255, 255, 0);
      position: relative;
      transition: all 0.2s;
      &:before{
        position: absolute;
        content: "";
        background-image: url("../img/play.png");
        background-size: cover;
        background-position: center;
        width: 140px;
        height: 140px;
        left: calc(50% - 70px);
        top: calc(50% - 70px);
        z-index: 2;
      }
      &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0;
        z-index: 1;
        transition: all 0.2s;
      }
      &:hover{
        transition: all 0.2s;
        &:after{
          opacity: 0.2;
          transition: all 0.2s;
        }
      }
    }
    .about-text{
      max-width: 430px;
      position: absolute;
      bottom: -30px;
      background: #fff;
      z-index: 2;
      left: 0;
      margin-right: 15px;
      margin-left: 15px;
      padding: 50px;
      p{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    h2{
      font-size: 90px;
      line-height: 40px;
      text-align: center;
      max-width: 100%;
    }
    .video-container{
      position: relative;
      width: 100%;
      .link-video{
        height: 320px;
        width: 100%;
        background-image: url("../img/bg-video.jpg");
        background-size: cover;
        background-position: center;
        display: block;
        color: rgba(255, 255, 255, 0);
        position: relative;
        transition: all 0.2s;
        &:before{
          position: absolute;
          content: "";
          background-image: url("../img/play.png");
          background-size: cover;
          background-position: center;
          width: 140px;
          height: 140px;
          left: calc(50% - 70px);
          top: calc(50% - 70px);
          z-index: 2;
        }
      }
      .about-text{
        max-width: 100%;
        position: relative;
        bottom: -30px;
        background: #fff;
        z-index: 2;
        left: 0;
        margin-right: 15px;
        margin-left: 15px;
        padding: 20px 20px 50px 20px;
        text-align: center;
        p{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.edition-2019{
  overflow: hidden;
  .title-edition2019{
    background: #2B1E39;
    position: relative;
    padding: 90px 60px;
    &:before{
      position: absolute;
      content: "";
      width: 1000px;
      height: 100%;
      background: #2B1E39;
      left: -1000px;
      top: 0;
    }
    h2{
      color: $primary;
      font-family: 'foxlite_scriptregular';
      font-size: 90px;
      line-height: 70px;
      max-width: 370px;
    }
    p{
      color: #fff;
      max-width: 370px;
      margin-top: 20px;
    }
  }
  .content-edition2019{
    max-width: 370px;
    h3{
      font-weight: 700;
      font-size: 16px;
    }
    p{
      max-width: 370px;
    }
    p + h3{
      margin-top: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    .title-edition2019{
      background: #2B1E39;
      position: relative;
      padding: 90px 20px;
      &:before{
        position: absolute;
        content: "";
        width: 1000px;
        height: 100%;
        background: #2B1E39;
        left: calc(50% - 500px);
        z-index: -1;
        top: 0;
      }
      h2{
        color: $primary;
        font-family: 'foxlite_scriptregular';
        font-size: 70px;
        line-height: 45px;
        max-width: 100%;
        text-align: center;
      }
      p{
        color: #fff;
        max-width: 100%;
        margin-top: 20px;
        text-align: center;
      }
    }
    .content-edition2019{
      max-width: 100%;
      padding: 90px 20px;
      h3{
        font-weight: 700;
        font-size: 16px;
        text-align: center;
      }
      p{
        max-width: 100%;
        text-align: center;
      }
      p + h3{
        margin-top: 30px;
      }
    }
  }
}

.workshop{
  @include pddSection;
  .workshop-container{
    margin: 30px;
    margin-bottom: 40px;
    a{
      transition: all 0.2s;
      display: block;
      &:hover{
        transform: scale(1.04);
        text-decoration: none !important;
        transition: all 0.2s;
      }
    }
    .workshop-content{
      padding: 20px;
      h2{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #212529;
        margin-top: 5px;
        small{
          font-size: 14px;
          display: block;
          color: gray;
          margin-top: 5px;
        }
      }
      p{
        color: #212529;
      }
      ul{
        margin-left: 20px;
        margin-top: 10px;
        color: #212529;
        li{
          color: #212529;
        }
      }
      @include media-breakpoint-down(sm) {
        margin: 0;
        margin-bottom: 40px;
      }
    }
    .workshop-footer{
      background-color: #ecf2f3;
      width: 100%;
      padding: 20px;
      p{
        color: #212529;
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
        span{
          font-size: 12px;
        }
      }
    }
  }
}

.label-track{
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  &.label-track-keynote{
    background: $primary;
  }
  &.label-track-produto{
    background: $primary;
  }
  &.label-track-ux{
    background: #2974ef;
  }
  &.label-track-growth{
    background: #fdbb00;
  }
}

.description-workshop{
  margin-bottom: 50px;
  text-align: center;
  p{

  }
}

.schedule{
  @include pddSection;
  background: #190D21;
  ul{
    background: #fff;
    display: flex;
    align-items: center;
    list-style: none;
    li{
      padding: 20px;
    }
    &:nth-child(even){
      background: $gray-200;
    }
    .schedule-item-time{
      width: 140px;
    }
    .schedule-item-image{
      width: 70px;
      padding-right: 0;
      img{
        max-width: 100%;
        border-radius: 4px;
      }
    }
    .schedule-item-description{
      h3{
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        span{
          display: block;
          font-weight: bold;
          font-size: 14px;
          color: $primary;
        }
        small{
          display: block;
          font-size: 12px;
          color: #a09ea2;
        }
      }
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      .schedule-item-time{
        padding-bottom: 0;
      }
      .schedule-item-image{
        display: none;
      }
    }
  }
}
