<section class="highlights">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline">
          <li class="list-inline-item item-highlight localizacao">
            <h2>Localização</h2>
            <p>Centro de Convenções Frei Caneca, <br>São Paulo - SP</p>
          </li>
          <li class="list-inline-item item-highlight dataehora">
            <h2>Data e hora</h2>
            <p>10 e 11 de Dezembro de 2019 <br>Início 9h | Término 19h</p>
          </li>
          <li class="list-inline-item item-highlight palestrantes">
            <h2>Palestrantes</h2>
            <p>+12 profissionais</p>
          </li>
          <li class="list-inline-item item-highlight capacidade">
            <h2>Capacidade</h2>
            <p>1000 lugares</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
