<section class="know-first" id="know-first">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Saiba primeiro <small><strong>Os primeiros lotes passarão voando!</strong> Cadastre-se para receber o lançamento por e-mail e garantir o menor valor.</small></h2>
      </div>
    </div>
    <!-- Begin Mailchimp Signup Form -->
    <style type="text/css">
    </style>
    <form action="https://productcamp.us2.list-manage.com/subscribe/post?u=f38e6d7350ea7490a5c0c2dd9&amp;id=a8bafe427f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row align-items-end">
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label for="mce-EMAIL-2">Seu melhor e-mail  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL-2">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label for="mce-FNAME-2">Seu primeiro nome </label>
            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME-2">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group size1of2">
            <label for="mce-PHONE-2">Informe seu telefone </label>
            <input type="text" name="PHONE" class="form-control" value="" id="mce-PHONE-2">
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f38e6d7350ea7490a5c0c2dd9_74af0c5af0" tabindex="-1" value=""></div>
          <div class="form-group">
            <div class="clear"><input type="submit" value="Quero saber" name="subscribe" id="" class="btn btn-primary"></div>
          </div>
        </div>
      </div>

    </form>
    <!--End mc_embed_signup-->
  </div>
</section>
