<section class="last-editions" id="ultima-edicao">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="last-editions-content">
          <h2>Últimas edições</h2>
          <a href="https://photos.google.com/share/AF1QipO3DFI8ELTCqazRcjGuP2yB1i-i7VtgKyMGwXVwMy65ZYdVmdczFRONZ_01OpgCFw?key=RGNZWmkwTGc0SHJLUURHQVRwZHZTQ0ZPTWZETEFB" target="_blank"  class="btn btn-outline-primary white">Veja as fotos</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="list-photos">
          <div class="row" id="last_edition">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
