<section class="partners" id="patrocinadores">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Patrocinadores</h2>
      </div>
    </div>
    <div class="tier tier01">
      <div class="row justify-content-center" id="sponsors_t1">
      </div>
    </div>
    <div class="tier tier02">
      <div class="row">
        <div class="col-12">
          <h3>Apoio</h3>
        </div>
      </div>
      <div class="row justify-content-center" id="sponsors_t2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="http://p.camp/queropatrocinar" target="_blank" class="btn btn-primary"> Quero mais informações sobre o patrocínio</a>
      </div>
    </div>
  </div>
</section>
